/* Pinterest "Pin It" Button Public CSS */

/* DIV surrounding button */
.pin-it-btn-wrapper,
.pin-it-btn-shortcode-wrapper {
    height: 30px;
    margin: 0;
    padding: 0;
}

/* From Pinterest official html */
a.pin-it-btn {
    position: absolute;
    background: url(http://assets.pinterest.com/images/pinit6.png);
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #CD1F1F;
    height: 20px;
    width: 43px;
    background-position: 0 -7px;
}

a.pin-it-btn:hover {
    background-position: 0 -28px;
}

a.pin-it-btn:active {
    background-position: 0 -49px;
}

/* Widgets */
.pib_widget_button,
.pib_widget_follow_button {
    clear: both;
}
