/* Pinterest Pin It Button Public CSS */

/* DIV surrounding generated iframe */
.pinit-button-wrapper {
    height: 25px; /* bigger than button height below */
    margin: 0;
    padding: 0 0 10px 0;
}

/* From Pinterest official html */
#PinItButton {
    position: absolute;
    background: url(http://d3io1k5o0zdpqr.cloudfront.net/images/pinit.png);
    border: 1px solid #C9C5C5;
    border-color: #E8E4E4 #C9C5C5 #C9C5C5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.07);
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #CD1F1F;
    height: 22px;
    width: 47px;
    background-position: 0 -8px;
	display:block;
}
