/* Pinterest Pin It Button Public CSS */

/* DIV surrounding generated iframe */
.pin-it-btn-wrapper,
.pin-it-btn-shortcode-wrapper {
    height: 30px;
    margin: 0;
    padding: 0;
}

/* From Pinterest official html */
.pin-it-btn {
    position: absolute;
    background: url(http://assets.pinterest.com/images/pinit6.png);
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #CD1F1F;
    height: 20px;
    width: 43px;
    background-position: 0 -7px;
}

.pin-it-btn:hover {
    background-position: 0 -28px;
}

.pin-it-btn:active {
    background-position: 0 -49px;
}

/* Old CSS from Pinterest
/*
.pin-it-btn {
    position: relative;
    background: url(http://d3io1k5o0zdpqr.cloudfront.net/images/pinit.png);
    border: 1px solid #C9C5C5;
    border-color: #E8E4E4 #C9C5C5 #C9C5C5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.07);
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #CD1F1F;
    height: 22px;
    width: 47px;
    background-position: 0 -8px;
	display:block;
}
*/
